<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

</head>

<body>


<h1><%= @event[:title] %></h1>
    <br>

<div class = row>
    <div class="col-sm-9">
        <p1>When? | <%= @event[:day_of_week] %>, </p1>
        <p1> <%= @event[:date] %>, </p1>
        <p1> <%= @event[:time] %></p1>
            <br>
            <br>
        <p1>Where? | <%= @event[:location] %> | </p1>
        <p1> <%= @event[:location_name] %></p1>
            <br>
            <br>
        <p1>How many guests can there be? | </p1>
        <p1> <%= @event[:event_size] %></p1>
            <br>
            <br>
        <p1>What kind of food will be served? | </p1>
        <p1> <%= @event[:cuisine] %></p1>
            <br>
        <p class="mt-4">
             <% if @current_user %>
                <a href="/events/<%= @event[:id] %>/rsvps/new" class="btn btn-primary">RSVP now!</a>
             <% else %>
                <a href="/logins/new" class="btn btn-primary">Please sign in to RSVP</a>
             <% end %>
        </p>
    </div>

    <div class="col-sm-3">
        <h3> RSVPs to Date </h3>
        <% for rsvp in @rsvps %>
            <p4 class="media">
                <% if rsvp[:going] %>
                    Yes - 
                <% else %>
                    No -
                <% end %>
                <div class="media-body">
                    <div class="mt-0">
                        <%= @users_table.where(id: rsvp[:user_id]).to_a[0][:name] %>

                        <small>
                            <!-- only show these links if it is my rsvp -->
                            <% if @current_user && @current_user[:id] == rsvp[:user_id] %>
                                (<a href="/rsvps/<%= rsvp[:id] %>/edit">edit</a> | <a href="/rsvps/<%= rsvp[:id] %>/destroy">delete</a>)
                            <% end %>
                        </small>
                    </div>
                    <%= rsvp[:comments] %>
                </div>
            </p4>
        <% end %>
    </div>
</div>