<div class = row>
    <div class="col-sm-9">
        <h1><%= @event[:title] %></h1>
            <br>
        <p1>When? | <%= @event[:date] %></p1>
            <br>
        <p1>Where? | <%= @event[:location] %></p1>
            <br>
        <p1>How many guests so far? | </p1>
        <p1><%= @going_count %></p1>
            <br>
    </div>

    <div class="col-sm-3">
        <br>
        <br>
        <% for rsvp in @rsvps %>
            <div class="media">
                <% if rsvp[:going] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0">
                        <%= @users_table.where(id: rsvp[:user_id]).to_a[0][:name] %>

                        <small>
                            <!-- only show these links if it is my rsvp -->
                            <% if @current_user && @current_user[:id] == rsvp[:user_id] %>
                                (<a href="/rsvps/<%= rsvp[:id] %>/edit">edit</a> | <a href="/rsvps/<%= rsvp[:id] %>/destroy">delete</a>)
                            <% end %>
                        </small>
                    </h5>
                    <%= rsvp[:comments] %>
                </div>
            </div>
        <% end %>
            <p class="mt-5">
                <% if @current_user %>
                    <a href="/events/<%= @event[:id] %>/rsvps/new" class="btn btn-primary">RSVP now!</a>
                <% else %>
                    <a href="/logins/new" class="btn btn-danger">Please sign in to RSVP</a>
                <% end %>
            </p>
    </div>
</div>